@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-green-500 hover:text-green-400;
    }
}

@layer utilities {
    .bg-roll::before {
        background: linear-gradient(90deg, #fb0094, #0000ff, #fb0093);
        background-size: 200%;

        @apply absolute w-[100%] h-[100%] content-[''] animate-border-roll;
    }

    .bg-grid {
        background: 
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(113, 113, 122, 1) 0%, 
                rgba(113, 113, 122, 1) 2px, rgba(0, 0, 0, 0) 0px), 
            linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(113, 113, 122, 1) 0%, 
                rgba(113, 113, 122, 1) 2px, rgba(0, 0, 0, 0) 0px);
        background-size: 2em 4em, 6em 2em;
        transform: perspective(300px) rotateX(30deg) scale(1);
        z-index: -1;

        @apply absolute w-[200%] -left-[50%] h-full;
    }
}
